@charset "UTF-8";
/* CSS Document */

.card-block {
    padding: 10px;
}
body{
    background: url(LOGO2.jpg) no-repeat center center fixed;
    /*z-index: -2;
    opacity: 0.4;*/
}
#wrapper{
    background: url(LOGO2.jpg) no-repeat center center fixed;
    z-index: -2;
    opacity: 0.4;
    width: 100%;
}
.main-wrapper {
    
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 1000px;
    
}


.text{
/*    background: rgba(0, 0, 255, 0.1);*/
    text-align: right;
    width: 96%;
    margin: 2%;
    padding:2%;
    color: red;
}
h1{
    font-size: 70px;
    font-family: "ALBA";
    
}
@font-face {
    font-family: "ALBA";
    src: url(ALBA.ttf);
}
/*.text2{
    
    text-align: right;
    height:400px;
   
    
}*/
.text3{
    color: red;
    font-family: "ALBA";
    text-align: left;
    height:500px;
   
    
}
footer {
    padding-top: 30px;
    border: 2px solid #ccc;
    margin: 0px 13px;
}

.img-fluid {
    margin-bottom: 15px;
}

.nav-space {
    margin: 0px 13px 20px 13px;
    font-family: "ALBA";
}


.col-lg-4 {
    margin-bottom: 20px;
}